<tr> 
        <!--<td><%= link_to (image_tag student.image.url, size: '70x70', class: 'rounded mx-auto d-block rounded-circle' if student.image?),student %></td>-->
        <td>
         <% if student.image? %>
         <!--<%= image_tag student.image.url, size: '70x70', class: 'rounded mx-auto d-block rounded-circle' %>-->
         <%= link_to (image_tag student.image.url, size: '70x70', class: 'rounded mx-auto d-block rounded-circle'),student %>
         <% else %>
         <%= link_to (image_tag 'default.jpg', size: '70x70', class: 'rounded mx-auto d-block rounded-circle'),student %>
         <% end %>
        </td>
        <td><%= student.admission_no %></td>
        <td><%= student.admission_date %></td>
        <td><%= student.student_name %></td>
        <!--<td><%= student.surname %></td>-->
        <td><%= student.class_applied %></td>
        <!--<td><%= student.age %></td>-->
        <!--<td><%= student.dob.try(:strftime,'%d/%m/%Y') %></td>-->
        <!--<td><%= student.dob %></td>-->
        <!--<td><%= student.pob %></td>-->
        <!--<td><%= student.card_no %></td>-->
        <td><%= student.gender %></td>
        <!-- <td><%= student.father_name %></td>-->
        <!--<td><%= student.occupation %></td>-->
        <!--<td><%= student.qualification %></td>-->
        <!--<td><%= student.mob_no %></td>-->
        <!--<td><%= student.email %></td>-->
        <!--<td><%= student.address %></td>-->
        <!--<td><%= student.mother_name %></td>-->
        <!--<td><%= student.m_occupation %></td>-->
        <!--<td><%= student.m_qualification %></td>-->
        <!--<td><%= student.specialist %></td>-->
        <!--<td><%= student.m_address %></td>-->
        <!--<td><%= student.m_mob %></td>-->
        <!--<td><%= student.m_email %></td>-->
        <!--<td><%= student.whats_app %></td>-->
        <td><%= student.req_trans %></td>
        <!--<td><%= student.trans_addr %></td>-->
        <td><%= student.remarks %></td>

 
        <!--<td><%= link_to 'Show', student, class: "btn btn-xs btn-success" %></td>      -->
        <!--<td><%= link_to "Edit", edit_student_path(student), class: "btn btn-xs btn-primary" %></td>
        <td><%= link_to "Delete", student_path(student), method: :delete,
        data: { confirm: "Are you sure you want to delete the student?"},
        class: "btn btn-xs btn-danger" %></td>-->
      </tr>

















