
<div class="row" style="margin: 10px 44px 10px 0px;">
  <div class="col-md-2 offset-md-10">
    <div class="btn-group" role="group">
      <%= link_to 'New Admission', admission_new_path, class: "btn btn-xs btn-info" %> 
      <!--<%= link_to "Import", admissions_import_path, class: "btn btn-xs btn-info" %>-->
   </div>
  </div>
</div>

  
    <% if @students.exists? %>
       <!--<table class="table table-bordered center table-width">-->
       <table class="table table-bordered table-striped table-hover center">
          <thead class="thead-light">
            <tr>
              <th>Students image</th>
              <th>Admission no</th>
              <th>Admission Date</th>
              <th>Student name</th>
              <th>Surname</th>
              <th>Class</th>
              <th>Age</th>
              <th>Date Of Birth</th>
              <th>Place Of Birth</th>
              <th>Adhar Card No</th>
              <th>Gender</th>
              <th>Transportation Required</th>
              <th>Remarks</th>
            </tr>
        </thead>
      <tbody>  
         <%= render partial: 'student', collection: @students %>
      </tbody>
    <% else %>
    <!-- <p>-->
    <!--    <center style="color:red;font-size: 17px;padding: 182px;">There are no results for your search.-->
    <!--      <div>-->
    <!--       <input type="button" class="btn btn-info inv-clear-search" value="Back" onclick="location.href = '/admissions';" style="margin-top: 7px;">-->
    <!--      </div>-->
    <!--    </center>-->
    <!--</p>-->
    <div class="alert alert-danger center">
      <strong>No record found</strong>
    </div>
    <% end %>



  
</table>


  <% if logged_in? && current_user.admin? %>
     <center> <%= link_to "Remove All", remove_all_students_path, class: "btn btn-sm btn-danger", :method => :get, data: {confirm: 'Are you sure?'} %></center>
  <% end %>
   
    
    
    
    <!-- <th>Father Name</th>-->
              <!--<th>Occupation</th>-->
              <!--<th>Qualification</th>-->
              <!--<th>Mobile No</th>-->
              <!--<th>Email</th>-->
              <!--<th>Address</th>-->
              <!--<th>Mother Name</th>-->
              <!--<th>Occupation</th>-->
              <!--<th>Qualification</th>-->
              <!--<th>Specialist in</th>-->
              <!--<th>Address</th>-->
              <!--<th>Mobile No</th>-->
              <!--<th>Email</th>-->
              <!--<th>WhatsApp No</th>-->
              <!--<th>Transport Address</th>-->
              <!--<th colspan="3">Actions</th>-->

<!--<table id="student_lists" class="table table-striped table-bordered" style="width:100%">-->
<!--<thead>-->
<!--  <tr>-->
<!--    <th>Student name</th>-->
<!--    <th>Surname</th>-->
<!--    <th>Class</th>-->
<!--  </tr>-->
<!--</thead>-->
<!--<tbody>-->
<!--  <% @students.each do |student| %>-->
<!--    <tr>-->
<!--      <td><%= link_to(student.student_name, student) %></td>-->
<!--      <td><%= student.surname %></td>-->
<!--      <td><%= student.class_applied %></td>-->
<!--    </tr>-->
<!--  <% end %>-->
<!--</tbody>-->
<!--</table>-->
 