

  <%= link_to 'New Admission', new_student_path, class: "btn btn-xs btn-info new_action" %>

  

  <% if @students.present? %>
   <table class="table table-bordered center table-width">
   <thead>
    <tr>
      <th>Admission no</th>
      <th>Admission Date</th>
      <th>Student name</th>
      <th>Surname</th>
      <th>Class</th>
      <th>Age</th>
      <th>Date Of Birth</th>
      <th>Place Of Birth</th>
      <th>Adhar Card No</th>
      <th>Gender</th>
      <th colspan="3">Actions</th>
    </tr>
   </thead>

    <%= form_tag students_path,  method: :get do %>
      <p>
        <center><%= text_field_tag :search, params[:search] %>
          <%= submit_tag "Search" , class: "btn btn-outline-secondary search-button" %></center>
        </p>
    <% end %>

     

<!--<input type="button" class="btn btn-info inv-clear-search" value="Clear Search" onclick="location.href = 'https://rails-tutorial-yaseenkola.c9users.io/students';">-->
     <tbody> 
    <%= render partial: 'student', collection: @students %>
     </tbody>
    <% else %>
    
    <p><center style="
    color:  red;
    font-size: 17px;
    padding: 182px;
">There are no results for your search.
 <div>
 <input type="button" class="btn btn-info inv-clear-search" value="Back" onclick="location.href = 'https://rails-tutorial-yaseenkola.c9users.io/students';" style="
    margin-top: 7px;
">
 </div>
  </center></p>
    <% end %>


 
  
</table>


<!--<center> <%= link_to "Remove All", remove_all_students_path, :method => :get, data: {confirm: 'Are you sure?'} %></center>-->

    <!-- <script type="text/javascript">
      $( document ).ready(function() {
  // $(document).on('page:change', function () {
    $("div#sample").hide();

    //    | === HERE
    $("a.toggle-formed").click(function(event) {
      event.preventDefault();
      $("div#sample").fadeToggle();
      $("#search").focus();
    });
});
    </script> -->