<div id="content">
<div id="page-yield">

  <div id="student_profile_heading">

    <div id="profile_picture_display">
      
        <%= image_tag @student.image.url, id:"my_height_width" if @student.image? %>
      
    </div>

    <div id ="student_main_info">
      <h3> <%= @student.student_name %>  </h3>
       <h4> Class : <%= @student.class_applied %> </h4>
       <h4> Adm no. : <%= @student.admission_no %> </h4>
    </div>

    <div class="extender"> </div>

  </div>

  <div id="new_profile_info_top">

    <table width="700">
      
      <tr class="odd left"><td>Date Of Birth</td><td class="right"> <%= @student.dob %> </td></tr>
      <tr class="even left"><td>Gender</td><td class="right"> <%= @student.gender %></tr>
      
      <tr class="odd left"><td>Father Name</td><td class="right"> <%= @student.father_name %> </td></tr>
      <tr class="even left"><td>Mother Name</td><td class="right"> <%= @student.mother_name %></tr>
      
      <tr class="odd left"><td>Address</td><td class="right"> <%= @student.m_address %> </td></tr>
      <tr class="even left"><td>Contact No</td><td class="right"> <%= @student.m_mob %></tr>
      
      <tr class="odd left"><td>Transportation Required:</td><td class="right"> <%= @student.req_trans %></tr>
      <tr class="even left"><td>Area</td><td class="right"> <%= @student.trans_addr %> </td></tr>
      
    </table>  
      
   </div>
   
   <div class="student_actions">
  
 <% if logged_in? && (current_user == @student.user || current_user.admin?) %>

 <%= link_to "Edit", edit_student_path(@student), class: "btn btn-xs btn-primary" %>

 <%= link_to "Delete", student_path(@student), method: :delete,

 data: { confirm: "Are you sure you want to delete the student?"},

 class: "btn btn-xs btn-danger" %>
 
 <% end %>

 <%= link_to "View all", admissions_path, class: "btn btn-xs btn-success" %>

</div>

</div>   
</div> 







