<nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
  <%= link_to "Al-Suffah", root_path, class: "navbar-brand", id: "logo" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
   
      <!--<li class="nav-item active">-->
      <!--  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>-->
      <!--</li>-->
  <% if logged_in? %>
     <ul class="navbar-nav mr-auto">
         <!--<li class="nav-item">-->
         <!-- <li><%= active_link_to "Student Admission", admission_new_path, class: "nav-link" %>-->
         <!--</li>-->
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Students
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= active_link_to "Student Admission", admission_new_path, class: "dropdown-item" %>
          <%= active_link_to "Student details", search_index_path, class: "dropdown-item" %>
        </li>
         <!--<li class="nav-item">-->
         <!-- <li><%= active_link_to "SignUp", signup_path, class: "nav-link" %>-->
         <!--</li>-->
         <!--<li class="nav-item">-->
         <!--  <%= active_link_to "Student details", search_index_path, class: "nav-link" %>-->
         <!--</li>-->
     </ul>
     
     <ul class="navbar-nav ml-auto">
          <li class="nav-item nav-link">
            
              <% if current_user.admin? %>
              
               <span class="badge">
                 <%= "Admin" %>
               </span>
               
              <% end %> 
               
          </li>
     
          <li class="nav-item">
        <%= link_to "Logout", logout_path, method: :delete, class: "nav-link" %>
          </li>
     </ul>
     
	<% else %>
	
		 <ul class="navbar-nav ml-auto">
         <li class="nav-item">
           <%= link_to "Sign Up", signup_path, class: "nav-link" %>
         </li>
         <li class="nav-item">
           <%= link_to "Log In", login_path, class: "nav-link" %>
         </li>
     </ul>
	 
  <% end %>
		 
      
      
      
      
      
    <!--  <li class="nav-item dropdown">-->
    <!--    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
    <!--      Dropdown-->
    <!--    </a>-->
    <!--    <div class="dropdown-menu" aria-labelledby="navbarDropdown">-->
    <!--      <a class="dropdown-item" href="#">Action</a>-->
    <!--      <a class="dropdown-item" href="#">Another action</a>-->
    <!--      <div class="dropdown-divider"></div>-->
    <!--      <a class="dropdown-item" href="#">Something else here</a>-->
    <!--    </div>-->
    <!--  </li>-->
    <!--  <li class="nav-item">-->
    <!--    <a class="nav-link disabled" href="#">Disabled</a>-->
    <!--  </li>-->
    <!--</ul>-->
    
    
    <!--<% if logged_in? %>-->
    <!--<%= form_tag admissions_path,  method: :post, class: "form-inline my-2 my-lg-0"  do %>-->
    <!--  <%= text_field_tag :search, params[:search], placeholder: "Enter your Search...", class: "form-control mr-sm-2" %>-->
    <!--    <%= submit_tag "Search" , class:"btn btn-outline-secondary my-2 my-sm-0" %>-->
          <!--<%= submit_tag "Search" , :class=> "btn btn-outline-secondary search-button" %></center>-->
    <!--<% end %>-->
    <!--<% end %>-->
    
    
    <!--<form class="form-inline my-2 my-lg-0">-->
    <!--  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
    <!--  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
    <!--</form>-->
  </div>
</nav>